<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
 
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" 
  integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" 
  crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
   integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
   
   <script src="../scripts.js"></script>
   
    <title>Create CV</title>
    <style>
        
        .centring {margin: auto; display: flex;justify-content: center; align-items: center;}
        
        .progress-bar {width: 10%;}
        .perso input {margin-bottom: 2px;}
        .popup-hide { position: fixed;
    filter: drop-shadow(0 0 500px rgb(0, 0, 0));
    padding: 10px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 150ms ease-in-out;
    border: solid 1px #ededed;
    border-radius: 5px;
    z-index: 10;
    background-color: white;
    width: 600px;
    max-width: 80%;
    /*display: none;*/
    overflow-y: auto;
    overflow-x: hidden;
    }

    .custom-file-upload {
    border: 1px dotted black;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    padding: 30px;
    
}
input[type="file"] {
    display: none;
}
.img-uploaded img {width: 250px;}
.cv-view {border: solid 1px rgb(165, 125, 125);height: 550px;border-radius: 5px;}
.part-1{display: block;border-radius: 5px 5px 0px 0px;}
.part-1 p{display: inline;margin-left: 2px;}
.output-cv {}
.part-2-1 {border-radius: 0px 0px 0px 5px;padding: 2px;}
.part-2-1 img{width:60px;}
.part-2-1 p {font-size: xx-small;margin-bottom: -2px;}

.part-2-2 p {font-size: xx-small;margin-bottom: -2px;}

.email-v i{font-size: 10px;}
.number-v svg{width: 10px;}
.adress-v i{font-size: 10px;}

.sub-title {color: gray;}
    </style>
    <script>
      function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
      }

      var CvFormsData = {};
      window.onload = async function(){
        $.ajax({
            type: "POST",
            url: "../Controllers/AutofillCvController.php",
            data: "&action=displaycv",
            success: function (data) {
              data = JSON.parse(data);
              for(section in data){
                document.getElementById("card").insertAdjacentHTML("beforeend", data[section])
              }
            }
          });

        await sleep(1000);
        var formsCollection = document.getElementsByTagName("form");
        for(var i=0;i<formsCollection.length;i++){
          if(formsCollection[i].id.startsWith("save")){
            CvFormsData[formsCollection[i].id] = {}
            var data = new FormData(formsCollection[i]);
            for (var [key, value] of data) {
                CvFormsData[formsCollection[i].id]["old_" + key] = value
            }
          }
        }
      }
      
      function ModifySection(section, action, controller){
        $("#" + action + "_" + section + "_section_form").off("submit");
        $("#" + action + "_" + section + "_section_form").on("submit", function (e) {
            var dataString = new FormData(this);
            var formData = new FormData(this);
            if(dataString.get("img") !== null){
              dataString.set("img", $("#img")[0].files[0]);
              formData.set("img", $("#img")[0].files[0]);
            }
            
            if(CvFormsData["save_" + section + "_section_form"] != null){
              for(const [key, value] of Object.entries(CvFormsData["save_" + section + "_section_form"])){
                dataString.append(key, value);
              }
            }
            dataString.append("action", action);
            
            $.ajax({
                type: "POST",
                url: "../Controllers/" + controller + ".php",
                data: dataString,
                contentType: false,
                processData: false,
                success: function (data) {
                    data = JSON.parse(data);
                    if(data["action_completed"] === true){
                      alert("Action Completed!");
                      if(action == "delete"){
                        if(section == "profile" || section == "personal_details"){
                          $("#save_" + section + "_section_form").trigger("reset");
                          if(section == "personal_details"){
                            clearinput();
                          }
                        } else{
                          $("#" + section).remove();
                          if(section.includes("custom_section")){
                            $("#" + section + "_header").remove();
                          }
                        }
                      } else{
                        for(var pair of formData.entries()){
                          if(CvFormsData["save_" + section + "_section_form"] == null){
                            CvFormsData["save_" + section + "_section_form"] = {};
                          }
                          CvFormsData["save_" + section + "_section_form"]["old_" + pair[0]] = pair[1];
                        }
                      }
                    } else if(data["logged_in"] === false){
                      window.open('SignInView.html?req=modifysection', '_blank', 'width=1000, height=400, top=200, left=300');
                    } else if(action == "delete" && data["error"] == ""){
                      $("#" + section).remove();
                      if(section.includes("custom_section")){
                        $("#" + section + "_header").remove();
                      }
                    } else{
                      alert(data["error"]);
                    }
                }
            });
        
            e.preventDefault();
        });
      }

      function resetCV(){
        var formsCollection = document.getElementsByTagName("form");
        for(var i=0;i<formsCollection.length;i++){
          if(formsCollection[i].id.startsWith("delete")){
            formsCollection[i].querySelector('button[type="submit"]').click();
          }
        }
      }

      function AddSubsec(parentId, section, action, controller){
        $("#" + action + "_" + section + "_section_form").off("submit");
        $("#" + action + "_" + section + "_section_form").on("submit", function (e) {
          var subsections = document.getElementsByClassName(section);
          var subsectionsIdNums= [0];
          for(var i=0;i<subsections.length;i++){
            if(isNaN(parseInt(subsections[i].id.split("_")[1]))){
              subsecIdNum = subsections[i].id.split("_")[2];
            } else{
              subsecIdNum = subsections[i].id.split("_")[1];
            }
            subsectionsIdNums.push(subsecIdNum);
          }

          var dataString = "&subsecs_in_section=" + Math.max.apply(Math, subsectionsIdNums) + "&action=" + action;
          
          $.ajax({
            type: "POST",
            url: "../Controllers/" + controller + ".php",
            data: dataString,
            success: function (data) {
                data = JSON.parse(data);
                if(data["action_completed"] === true){
                  document.getElementById(parentId).insertAdjacentHTML("beforeend", data["new_subsec_html"])
                } else{
                  alert(data["error"]);
                }
            }
          });
      
          e.preventDefault();
        });
      }
        //script popup products
        function showpopup(params) {
        var popup=document.getElementById(params);
        //var container=document.getElementById("container");
        //popup.style.display='block';
        popup.style.transform = 'translate(-50%, -50%) scale(1)';
        //popup.style.backdropfilter = 'drop-shadow(4px 4px 10px blue)';
        //container.style.backgroundcolor=;
        //document.getElementById("container").style.backgroundColor = "black";
        //container.style.filter= 'blur(8px)';
            
      }
      function hidepopup(params) {
        var popup=document.getElementById(params);       
        //popup.style.display= 'none';
        popup.style.transform = 'translate(-50%, -50%) scale(0)';
        
      }

      //clear input script
      function clearinput() {
        var btnsupp = document.getElementById("btn-supp");
        var imagelogo = document.getElementById('output-logo');
        var iconimg = document.getElementById('img-logo');
        document.getElementById("img").value = '';
        document.getElementById("output").src ='';
        var uploadarea = document.getElementById('upload-area');
        uploadarea.style.display ='block' ;
        imagelogo.src= '';
        iconimg.style.display ='block' ;
        //
        var imgcv = document.getElementById("output-cv");
        imgcv.src= '';
      }
      
      /*var popup = document.getElementById("popup");
      btnsupp.addEventListener("click",function() {
       

      });*/
      
      var loadFile = function(event) {
        var image = document.getElementById('output');
        var imagelogo = document.getElementById('output-logo');
        var uploadarea = document.getElementById('upload-area');
        var iconimg = document.getElementById('img-logo');
        image.src = URL.createObjectURL(event.target.files[0]);
        imagelogo.src = URL.createObjectURL(event.target.files[0]);
        uploadarea.style.display ='none' ;
        iconimg.style.display ='none' ;
      };
      //icons
      function icons(params) {
        //icons
        var email=document.getElementById("inputEmail4").value;
        var number=document.getElementById("numro").value;
        var adress=document.getElementById("inputAddress").value;
        var birthday=document.getElementById("inputAddress2").value;
        var job=document.getElementById("inputJobTitle").value;
        var hobby=document.getElementById("hobbie-1").value;
        var langages=document.getElementById("language-1").value;
        var langageslevel=document.getElementById("language-level").value;
        var skill=document.getElementById("skill-1").value;
        var socialm=document.getElementById("website-name-1").value;
        var emailIcon=document.getElementById("emailIcon");
        var numberIcon=document.getElementById("numberIcon");
        var adressIcon=document.getElementById("adressIcon");
        var birthdayTitle=document.getElementById("birthday-title");
        var jobTitle=document.getElementById("job-title");
        var hobbiesTitle=document.getElementById("hobbies-title");
        var langagesTitle=document.getElementById("langages-title");
        var skillTitle=document.getElementById("skills-title");
        var socialmTitle=document.getElementById("socialm-title");
        
        //emailIcon.style.visibility = 'visible';
        //subtitles
        if (email.length ==0) {
          emailIcon.style.visibility = 'hidden';
        } else {
          emailIcon.style.visibility = 'visible';
        }
        if (number.length ==0) {
          numberIcon.style.visibility = 'hidden';
        } else {
          numberIcon.style.visibility = 'visible';
        }
        if (adress.length ==0) {
          adressIcon.style.visibility = 'hidden';
        } else {
          adressIcon.style.visibility = 'visible';
        }
        if (birthday.length ==0) {
          birthdayTitle.style.visibility = 'hidden';
        } else {
          birthdayTitle.style.visibility = 'visible';
        }
        if (job.length ==0) {
          jobTitle.style.visibility = 'hidden';
        } else {
          jobTitle.style.visibility = 'visible';
        }
        //titles
        if (hobby.length ==0) {
          hobbiesTitle.style.visibility = 'hidden';
        } else {
          hobbiesTitle.style.visibility = 'visible';
        }
        if (langages.length ==0) {
          langagesTitle.style.visibility = 'hidden';
        } else {
         langagesTitle.style.visibility = 'visible';
        }
        if (skill.length ==0) {
          skillTitle.style.visibility = 'hidden';
        } else {
         skillTitle.style.visibility = 'visible';
        }
        if (socialm.length ==0) {
          socialmTitle.style.visibility = 'hidden';
        } else {
         socialmTitle.style.visibility = 'visible';
        }
      }
      function image(params) {
        //image
        var img = document.getElementById('output-logo');
        var imgcv = document.getElementById("output-cv");
        imgcv.src = img.src;
      }
      //cv display functions
      function part1(params) {
        //part1+part2-1 cv-input-1
        var cvinputsclasses1 = document.getElementsByClassName("cv-input-1");
        var cvinputviewclasses1 = document.getElementsByClassName("cv-input-view-1");
        
        for (let i = 0; i < cvinputsclasses1.length; i++) {
          // creating dynamic id
          //cvinputsclasses[i].id = 'inputview' + [i];

          //giving cvinputclasses value to cvinputviewclasses innerhtml
          cvinputviewclasses1[i].innerHTML = cvinputsclasses1[i].value ;
          
          
        }
        
        
        
        
        
        //test.innerHTML= cvinputsclasses[0].id;
        /*
        //nom prenom
        var nom = document.getElementById("nom");
        var prenom = document.getElementById("prenom");
        var nomview = document.getElementById("nom-view");
        var prenomview = document.getElementById("prenom-view");
        var part1 = document.getElementById("part1");
        nomview.innerHTML = nom.value;
        prenomview.innerHTML = prenom.value;
        //part1.style.border="solid 1px";
        //image
        var image = document.getElementById('output');
        var img = document.getElementById('img');
        var imgcv = document.getElementById("output-cv");
        imgcv.src = URL.createObjectURL(img.files[0]);
        //email
        var email = document.getElementById("inputemail");
        var emailview = document.getElementById("email-view");
        emailview.innerHTML = email.value ;
        //number
        var number = document.getElementById("number");
        var numberview = document.getElementById("number-view");
        numberview.innerHTML = number.value ;
        //adress
        var adress = document.getElementById("adress");
        var adressview = document.getElementById("adress-view");
        adressview.innerHTML = adress.value ;
        //birthday
        var birthday = document.getElementById("birthday");
        var birthdayview = document.getElementById("birthday-view");
        birthdayview.innerHTML = birthday.value ;
        //city
        var city = document.getElementById("city");
        var cityview = document.getElementById("city-view");
        cityview.innerHTML = city.value ;
        //state
        var state = document.getElementById("state");
        var stateview = document.getElementById("state-view");
        stateview.innerHTML = state.value ;
        //code postale
        var codep = document.getElementById("codep");
        var codepview = document.getElementById("codep-view");
        codepview.innerHTML = codep.value ;
        */
        
      }
      function part2(params) {
        //part2-2 cv-input-2
        var cvinputsclasses = document.getElementsByClassName("cv-input");
        var cvinputviewclasses = document.getElementsByClassName("cv-input-view");
        
        for (let i = 0; i < cvinputsclasses.length; i++) {
          // creating dynamic id
          //cvinputsclasses[i].id = 'inputview' + [i];

          //giving cvinputclasses value to cvinputviewclasses innerhtml
          cvinputviewclasses[i].innerHTML = cvinputsclasses[i].value ;
          
          
        }
      }
      //script to add "p" in cv-view when we add a customised section
      //beacause each input has its "p" when we add a new input or more we add "p"
      //this script is basic for just a simple input 
      //to use this for a whole section like exp-pro we must add more than one "p"

     
    </script>
</head>
<body>
  <nav class="navbar navbar-expand-sm bg-light navbar-light">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link active" href="#"> <b>CV-MAKER</b> </a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="#">Modele CV</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Connexion</a>
            </li>               
        </ul>
    </div>
  </nav>
  <br>
  <div class="container-fluid">
    <div class="popup-hide" id="popup">
      <button class="btn btn-primary" onclick="hidepopup('popup')">close</button>
                  
          <br><br>
          
          <label for="img" class="centring custom-file-upload">
            <div id="upload-area">
              <h6 class="upload-txt" id="upload-txt">Faites glisser et déposez votre image ici ou cliquez pour la télécharger.</h5>
              <br>
              <span class="btn btn-primary centring" id="upload">telecharger</span>
            </div>
            
            <span class="img-uploaded centring"><img class="img-fluid output" id="output"/></span>
            <input type="hidden" name="MAX_FILE_SIZE" value="2000000" form="save_personal_details_section_form"/>
            <input class="form-control" type="file" id="img" onchange="loadFile(event)" name="img" accept="image/*" form="save_personal_details_section_form" value="../Images/a9f0e0b3d83d6a1fa6ce89f950383fdd.jpg">
          </label>
          
          <br><br>
          
            <div class="row">
              <div class="col">
                <div class="d-grid">
                  <button class="btn btn-primary btn-block" id="btn-supp" onclick="clearinput('')">supprimer</button>
                </div>
                
              </div>
            </div>   
      
    </div>   
      <div>
          <ul class="nav justify-content-center ">
                  <li class="nav-item">
                  <a class="nav-link" href="#">Arabe</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Français</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Anglais</a>
                </li>
          </ul>
      </div>

      <div class="row" onmousemove="part1()">
          <div class="col-sm-8" onmousemove="part2(),image()">
              <br>
              <div class="progress sticky-top">
                  <div id="progressbar" class="progress-bar" style="width: 10%;" >10%</div>
              </div>
              <hr>
              
                <div class="" id="myform">
                    <hr>
                    <div id="accordion">

                      <div class="card" id="card">
                      </div>
                      </div>
                      <br>
                                   
                    
                </div>
                <br>
                <!---->
                
                  <div class="row" >
                    <div class="col">
                      <form id="addsubsec_custom_section_form">
                        <div class="d-grid">
                          <button type="submit" class="btn btn-primary btn-block" onclick="AddSubsec('card', 'custom', 'addsubsec', 'CustomSectionController')">Ajouter une section personalisée</button>
                        </div>
                      </form>
                    </div>
                    <div class="col">
                      <div class="d-grid">
                        <button type="button" class="btn btn-primary btn-block">Valider et telecharger</button>
                      </div>
                    </div>
                  
                  
                  <br>
                </div>
                
              
              <br>
          </div>
          <!--side-->
          <div class="col-sm-4">
              
            <div class="show sticky-top">
              
              <br>
              <!--standard model-->
              <div class="cv-view">
                <!--1st part-->
                <div class="part-1" id="part1">
                  
                  <p class="cv-input-view-1" id="nom-view"></p>
                  <p class="cv-input-view-1" id="prenom-view"></p>                
                </div>
                <!--2nd part-->
                <div class="row">
                  <!--part 2-1-->
                  <div class="col-sm-4" id="part-2-1">
                    <div class="part-2-1">
                        <div class="perso-details">
                          <img class="img-fluid output-cv" id="output-cv"/>
                          <br> 
                          <span class="email-v d-block">
                            <i id="emailIcon" class="fas fa-envelope d-inline" style="visibility: hidden;"></i>
                            <p class="cv-input-view-1 d-inline" id="email-view"></p>
                          </span>
                          
                          <span class="number-v d-block">
                            <svg style="visibility: hidden;" id="numberIcon" class="d-inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --><path d="M497.39 361.8l-112-48a24 24 0 0 0-28 6.9l-49.6 60.6A370.66 370.66 0 0 1 130.6 204.11l60.6-49.6a23.94 23.94 0 0 0 6.9-28l-48-112A24.16 24.16 0 0 0 122.6.61l-104 24A24 24 0 0 0 0 48c0 256.5 207.9 464 464 464a24 24 0 0 0 23.4-18.6l24-104a24.29 24.29 0 0 0-14.01-27.6z"/></svg>                            
                            <p class="cv-input-view-1 d-inline" id="number-view"></p>
                          </span>
                          
                          <span class="adress-v d-block">
                            <i style="visibility: hidden;" id="adressIcon" class="fas fa-map-marker-alt d-inline"></i>
                            <p class="cv-input-view-1 d-inline" id="adress-view"></p>
                          </span>
                          
                          <span class="birthday">
                            <p class="sub-title d-block" id="birthday-title" style="visibility: hidden;">Date de naissance</p>
                            <p class="cv-input-view-1 d-block" id="birthday-view"></p> 
                          </span>
                          <span class="job">
                            <p class="sub-title d-block" id="job-title" style="visibility: hidden;">Profession</p>
                            <p class="cv-input-view-1" id="job-view"></p>
                          </span>                         
                         
                        </div>
                        <div class="skills">
                          <p class="title d-block" id="skills-title" style="visibility: hidden;">Compétences</p>
                          <p class="cv-input-view-1" id="skill"></p>
                          <p class="cv-input-view-1" id="skill-level"></p>
                        </div>
                        <div class="langages">
                          <p class="title d-block" id="langages-title" style="visibility: hidden;">Langues</p>
                          <p class="cv-input-view-1" id="language"></p>
                          <p class="cv-input-view-1" id="language-level"></p>
                        </div>
                        
                        <div class="hobbies">
                          <p class="title d-block" id="hobbies-title" style="visibility: hidden;">Centre d'interes</p>
                          <p class="cv-input-view-1" id="hobby"></p>
                        </div>
                        <div class="projets">
                          <p class="title d-block" id="projets-title" style="visibility: hidden;">Projets réalisés</p>
                          <p class="cv-input-view-1" id="projet"></p>
                          <p class="cv-input-view-1" id="projet-d"></p>
                        </div>
                        <div class="socialm">
                          <p class="title d-block" id="socialm-title" style="visibility: hidden;">Reseaux sociaux</p>
                          <p class="cv-input-view-1" id="socialm-name"></p>
                          <p class="cv-input-view-1" id="socialm-link"></p>
                        </div>
                        
                    </div>
                    
                  </div>
                  <!--part 2-2-->
                  <div class="col-sm-8" id="part-2-2">

                    <div class="part-2-2">
                      <div class="formations">
                        <p class="cv-input-view" id="formations"></p>
                      </div>

                      <div class="education">
                        <p class="cv-input-view" id="education-description"></p>
                        <p class="cv-input-view" id="education-feild"></p>
                        <p class="cv-input-view" id="education-school"></p>
                        <p class="cv-input-view" id="education-debut"></p>
                        <p class="cv-input-view" id="education-fin"></p>

                      </div>
                      <div class="exp-pro">
                        <p class="cv-input-view" id="position"></p>
                        <p class="cv-input-view" id="company-name"></p>
                        <p class="cv-input-view" id="company-location"></p>
                        <p class="cv-input-view" id="exp-debut"></p>
                        <p class="cv-input-view" id="exp-fin"></p>
                        <p class="cv-input-view" id="exp-description"></p>

                      </div>
                      <div class="profile">
                        <p class="cv-input-view" id="profile"></p>
                      </div>
                      
                     
                      <div class="customSection">
                        <p class="cv-input-view" id="customSection-title"></p>
                        <p class="cv-input-view" id="customSection-description"></p>
                      </div>                                        
                      
                    </div>

                  </div>
                </div>
              </div> 
              <!--choose a cv model + reset + download -->
              <br>
              
              <div class="show">
                <div class="d-grid">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-warning" onclick="resetCV()">reset</button>
                    <button type="button" class="btn btn-sm btn-light">telecharger</button>
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-bs-toggle="dropdown">choisire un cv model</button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Tablet</a>
                        <a class="dropdown-item" href="#">Smartphone</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div> 
            </div>
            
                    
          </div>
          
      </div>

  </div>
</body>
</html>