<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
 
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" 
  integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" 
  crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
   integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
   
   <script src="../scripts.js"></script>
   
    <title>Create CV</title>
    <style>
        
        .centring {margin: auto; display: flex;justify-content: center; align-items: center;}
        
        .progress-bar {width: 10%;}
        .perso input {margin-bottom: 2px;}
        .popup-hide { position: fixed;
    filter: drop-shadow(0 0 500px rgb(0, 0, 0));
    padding: 10px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 150ms ease-in-out;
    border: solid 1px #ededed;
    border-radius: 5px;
    z-index: 10;
    background-color: white;
    width: 600px;
    max-width: 80%;
    /*display: none;*/
    overflow-y: auto;
    overflow-x: hidden;
    }

    .custom-file-upload {
    border: 1px dotted black;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    padding: 30px;
    
}
input[type="file"] {
    display: none;
}
.img-uploaded img {width: 250px;}
.cv-view {border: solid 1px rgb(165, 125, 125);height: 550px;border-radius: 5px;}
.part-1{display: block;background-color: #ededed;border-radius: 5px 5px 0px 0px;}
.part-1 p{display: inline;margin-left: 2px;}
.output-cv {}
.part-2-1 {border: solid 1px;border-radius: 0px 0px 0px 5px;padding: 2px;}
.part-2-1 img{width:60px;}
.part-2-1 p {font-size: xx-small;margin-bottom: -2px;}
.part-2-1-adressplus {}
.part-2-1-adressplus p {display: inline;}
    </style>
    <script>
      function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
      }

      var CvFormsData = {};
      window.onload = async function(){
        $.ajax({
            type: "POST",
            url: "../Controllers/AutofillCvController.php",
            data: "&action=displaycv",
            success: function (data) {
              data = JSON.parse(data);
              for(section in data){
                document.getElementById("card").insertAdjacentHTML("beforeend", data[section])
              }
            }
          });

        await sleep(1000);
        var formsCollection = document.getElementsByTagName("form");
        for(var i=0;i<formsCollection.length;i++){
          if(formsCollection[i].id.startsWith("save")){
            CvFormsData[formsCollection[i].id] = {}
            var data = new FormData(formsCollection[i]);
            for (var [key, value] of data) {
                CvFormsData[formsCollection[i].id]["old_" + key] = value
            }
          }
        }
      }
      
      function ModifySection(section, action, controller){
        $("#" + action + "_" + section + "_section_form").off("submit");
        $("#" + action + "_" + section + "_section_form").on("submit", function (e) {
            var dataString = new FormData(this);
            var formData = new FormData(this);
            if(dataString.get("img") !== null){
              dataString.set("img", $("#img")[0].files[0]);
              formData.set("img", $("#img")[0].files[0]);
            }
            
            if(CvFormsData["save_" + section + "_section_form"] != null){
              for(const [key, value] of Object.entries(CvFormsData["save_" + section + "_section_form"])){
                dataString.append(key, value);
              }
            }
            dataString.append("action", action);
            
            $.ajax({
                type: "POST",
                url: "../Controllers/" + controller + ".php",
                data: dataString,
                contentType: false,
                processData: false,
                success: function (data) {
                    data = JSON.parse(data);
                    if(data["action_completed"] === true){
                      alert("Action Completed!");
                      if(action == "delete"){
                        if(section == "profile" || section == "personal_details"){
                          $("#save_" + section + "_section_form").trigger("reset");
                          if(section == "personal_details"){
                            clearinput();
                          }
                        } else{
                          $("#" + section).remove();
                          if(section.includes("custom_section")){
                            $("#" + section + "_header").remove();
                          }
                        }
                      } else{
                        for(var pair of formData.entries()){
                          if(CvFormsData["save_" + section + "_section_form"] == null){
                            CvFormsData["save_" + section + "_section_form"] = {};
                          }
                          CvFormsData["save_" + section + "_section_form"]["old_" + pair[0]] = pair[1];
                        }
                      }
                    } else if(data["logged_in"] === false){
                      window.open('SignInView.html?req=modifysection', '_blank', 'width=1000, height=400, top=200, left=300');
                    } else if(action == "delete" && data["error"] == ""){
                      $("#" + section).remove();
                      if(section.includes("custom_section")){
                        $("#" + section + "_header").remove();
                      }
                    } else{
                      alert(data["error"]);
                    }
                }
            });
        
            e.preventDefault();
        });
      }

      function resetCV(){
        var formsCollection = document.getElementsByTagName("form");
        for(var i=0;i<formsCollection.length;i++){
          if(formsCollection[i].id.startsWith("delete")){
            formsCollection[i].querySelector('button[type="submit"]').click();
          }
        }
      }

      function AddSubsec(parentId, section, action, controller){
        $("#" + action + "_" + section + "_section_form").off("submit");
        $("#" + action + "_" + section + "_section_form").on("submit", function (e) {
          var subsections = document.getElementsByClassName(section);
          var subsectionsIdNums= [0];
          for(var i=0;i<subsections.length;i++){
            if(isNaN(parseInt(subsections[i].id.split("_")[1]))){
              subsecIdNum = subsections[i].id.split("_")[2];
            } else{
              subsecIdNum = subsections[i].id.split("_")[1];
            }
            subsectionsIdNums.push(subsecIdNum);
          }

          var dataString = "&subsecs_in_section=" + Math.max.apply(Math, subsectionsIdNums) + "&action=" + action;
          
          $.ajax({
            type: "POST",
            url: "../Controllers/" + controller + ".php",
            data: dataString,
            success: function (data) {
                data = JSON.parse(data);
                if(data["action_completed"] === true){
                  document.getElementById(parentId).insertAdjacentHTML("beforeend", data["new_subsec_html"])
                } else{
                  alert(data["error"]);
                }
            }
          });
      
          e.preventDefault();
        });
      }
        //script popup products
        function showpopup(params) {
        var popup=document.getElementById(params);
        //var container=document.getElementById("container");
        //popup.style.display='block';
        popup.style.transform = 'translate(-50%, -50%) scale(1)';
        //popup.style.backdropfilter = 'drop-shadow(4px 4px 10px blue)';
        //container.style.backgroundcolor=;
        //document.getElementById("container").style.backgroundColor = "black";
        //container.style.filter= 'blur(8px)';
            
      }
      function hidepopup(params) {
        var popup=document.getElementById(params);       
        //popup.style.display= 'none';
        popup.style.transform = 'translate(-50%, -50%) scale(0)';
        
      }

      //clear input script
      function clearinput() {
        var btnsupp = document.getElementById("btn-supp");
        var imagelogo = document.getElementById('output-logo');
        var iconimg = document.getElementById('img-logo');
        document.getElementById("img").value = '';
        document.getElementById("output").src ='';
        var uploadarea = document.getElementById('upload-area');
        uploadarea.style.display ='block' ;
        imagelogo.src= '';
        iconimg.style.display ='block' ;
        //
        var imgcv = document.getElementById("output-cv");
        imgcv.src= '';
      }
      
      /*var popup = document.getElementById("popup");
      btnsupp.addEventListener("click",function() {
       

      });*/
     
      var loadFile = function(event) {
        var image = document.getElementById('output');
        var imagelogo = document.getElementById('output-logo');
        var uploadarea = document.getElementById('upload-area');
        var iconimg = document.getElementById('img-logo');
        image.src = URL.createObjectURL(event.target.files[0]);
        imagelogo.src = URL.createObjectURL(event.target.files[0]);
        uploadarea.style.display ='none' ;
        iconimg.style.display ='none' ;
      };

      //cv display functions
      function part1(params) {
        //improving code
        var cvinputsclasses = document.getElementsByClassName("cv-input");
        var cvinputviewclasses = document.getElementsByClassName("cv-input-view");
        var test = document.getElementById("test");
        for (let i = 0; i < cvinputsclasses.length; i++) {
          // creating dynamic id
          //cvinputsclasses[i].id = 'inputview' + [i];

          //giving cvinputclasses value to cvinputviewclasses innerhtml
          cvinputviewclasses[i].innerHTML = cvinputsclasses[i].value ;
          
          
        }
        //image
        var image = document.getElementById('output');
        var img = document.getElementById('img');
        var imgcv = document.getElementById("output-cv");
        imgcv.src = URL.createObjectURL(img.files[0]);
        //test.innerHTML= cvinputsclasses[0].id;
        /*
        //nom prenom
        var nom = document.getElementById("nom");
        var prenom = document.getElementById("prenom");
        var nomview = document.getElementById("nom-view");
        var prenomview = document.getElementById("prenom-view");
        var part1 = document.getElementById("part1");
        nomview.innerHTML = nom.value;
        prenomview.innerHTML = prenom.value;
        //part1.style.border="solid 1px";
        //image
        var image = document.getElementById('output');
        var img = document.getElementById('img');
        var imgcv = document.getElementById("output-cv");
        imgcv.src = URL.createObjectURL(img.files[0]);
        //email
        var email = document.getElementById("inputemail");
        var emailview = document.getElementById("email-view");
        emailview.innerHTML = email.value ;
        //number
        var number = document.getElementById("number");
        var numberview = document.getElementById("number-view");
        numberview.innerHTML = number.value ;
        //adress
        var adress = document.getElementById("adress");
        var adressview = document.getElementById("adress-view");
        adressview.innerHTML = adress.value ;
        //birthday
        var birthday = document.getElementById("birthday");
        var birthdayview = document.getElementById("birthday-view");
        birthdayview.innerHTML = birthday.value ;
        //city
        var city = document.getElementById("city");
        var cityview = document.getElementById("city-view");
        cityview.innerHTML = city.value ;
        //state
        var state = document.getElementById("state");
        var stateview = document.getElementById("state-view");
        stateview.innerHTML = state.value ;
        //code postale
        var codep = document.getElementById("codep");
        var codepview = document.getElementById("codep-view");
        codepview.innerHTML = codep.value ;
        */
        
      }
    </script>
</head>
<body>
  <nav class="navbar navbar-expand-sm bg-light navbar-light">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link active" href="#"> <b>CV-MAKER</b> </a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="#">Modele CV</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Connexion</a>
            </li>               
        </ul>
    </div>
  </nav>
  <br>
  <div class="container">
    <div class="popup-hide" id="popup">
      <button class="btn btn-primary" onclick="hidepopup('popup')">close</button>
                  
          <br><br>
          
          <label for="img" class="centring custom-file-upload">
            <div id="upload-area">
              <h6 class="upload-txt" id="upload-txt">Faites glisser et déposez votre image ici ou cliquez pour la télécharger.</h5>
              <br>
              <span class="btn btn-primary centring" id="upload">telecharger</span>
            </div>
            
            <span class="img-uploaded centring"><img class="img-fluid output" id="output"/></span>
            <input type="hidden" name="MAX_FILE_SIZE" value="2000000" form="save_personal_details_section_form"/>
            <input class="form-control" type="file" id="img" onchange="loadFile(event)" name="img" accept="image/*" form="save_personal_details_section_form" value="../Images/a9f0e0b3d83d6a1fa6ce89f950383fdd.jpg">
          </label>
          
          <br><br>
          
            <div class="row">
              <div class="col">
                <div class="d-grid">
                  <button class="btn btn-primary btn-block" id="btn-supp" onclick="clearinput('')">supprimer</button>
                </div>
                
              </div>
            </div>   
      
    </div>   
      <div>
          <ul class="nav justify-content-center ">
                  <li class="nav-item">
                  <a class="nav-link" href="#">Arabe</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Français</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Anglais</a>
                </li>
          </ul>
      </div>

      <div class="row" onmousemove="part1()">
          <div class="col-sm-8">
              <br>
              <div class="progress sticky-top">
                  <div id="progressbar" class="progress-bar" style="width: 10%;" >10%</div>
              </div>
              <hr>
              
                <div class="" id="myform">
                    <hr>
                    <div id="accordion">

                      <div class="card" id="card">
                      </div>
                      </div>
                      <br>
                                   
                    
                </div>
                <br>
                <!---->
                
                  <div class="row" >
                    <div class="col">
                      <form id="addsubsec_custom_section_form">
                        <div class="d-grid">
                          <button type="submit" class="btn btn-primary btn-block" onclick="AddSubsec('card', 'custom', 'addsubsec', 'CustomSectionController')">Ajouter une section personalisée</button>
                        </div>
                      </form>
                    </div>
                    <div class="col">
                      <div class="d-grid">
                        <button type="button" class="btn btn-primary btn-block">Valider et telecharger</button>
                      </div>
                    </div>
                  
                  
                  <br>
                </div>
                
              
              <br>
          </div>
          <!--side-->
          <div class="col-sm-4">
              
            <div class="show sticky-top">
              
              <br>
              <!--standard model-->
              <div class="cv-view">
                <!--1st part-->
                <div class="part-1" id="part1">
                  <p class="cv-input-view" id="nom-view"></p>
                  <p class="cv-input-view" id="prenom-view"></p>                
                </div>
                <!--2nd part-->
                <div class="row">
                  <!--part 2-1-->
                  <div class="col-sm-4" id="part-2-1">
                    <div class="part-2-1">
                        <img class="img-fluid output-cv" id="output-cv"/>
                        
                        
                        <p class="cv-input-view" id="email-view"></p>
                        <p class="cv-input-view" id="number-view"></p>
                        <p class="cv-input-view" id="adress-view"></p>

                        <div class="part-2-1-adressplus">
                          <p class="cv-input-view" id="city-view"></p>
                          
                        </div>
                        
                          <p class="cv-input-view" id="codep-view"></p>

                        <p class="cv-input-view" id="birthday-view"></p>
                    </div>
                    
                  </div>
                  <!--part 2-2-->
                  <div class="col-sm-8" id="part-2-2">

                    <div class="part-2-2">

                    </div>

                  </div>
                </div>
              </div> 
              <!--choose a cv model-->
              <br>
              <button type="button" class="btn btn-primary btn-block" onclick="resetCV()">Reset Form</button>
            </div>
            <br><hr>  
            <div class="show">
              <div class="d-grid">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-warning">reset</button>
                  <button type="button" class="btn btn-sm btn-light">telecharger</button>
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-bs-toggle="dropdown">choisire un cv model</button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Tablet</a>
                      <a class="dropdown-item" href="#">Smartphone</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>           
          </div>
          
      </div>

  </div>
</body>
</html>