<!DOCTYPE html>
<html>

<head>
    <title>Resend Confrim Email</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
       .centring {margin: auto; display: flex;justify-content: center; align-items: center;}
            body {background-color: #F7E2E2;;}
            .confirm {color: black;border: solid 2px #ededed;padding: 25px;border-radius: 5px;background-color: white;width: 500px;}
            .confirm label {color: black;}
    </style>
    <script>
        function ResendConfirmEmail(){
            $("#resend_email_form").off("submit");
            $("#resend_email_form").on("submit", function (e) {
                var dataString = $(this).serialize();
                dataString += "&action=resendconfirmationemail";
                
                $.ajax({
                    type: "POST",
                    url: "../Controllers/AccountController.php",
                    data: dataString,
                    success: function (data) {
                        data = JSON.parse(data);
                        if(data["confirmation_resent"] === true){
                            window.location.replace("http://localhost/cv-website/homepage.html");
                        } else if(data["already_loggedin"] === true) {
                            window.location.replace("http://localhost/cv-website/homepage.html");
                        } else{
                            alert(data["error"]);
                        }
                    }
                });
            
                e.preventDefault();
            });
        }
    </script>
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link active" href="#"> <b>CV-MAKER</b> </a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="#">Modele CV</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Connexion</a>
                </li>               
            </ul>
        </div>
    </nav>
    <br>
    <p style="margin: 0;">We're excited to have you get started. First, you need to confirm your account. Just press the button below to resend a confirmation email.</p>
    <form id="resend_email_form" method="post">
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email">
        <button type="submit" onclick="ResendConfirmEmail()">Resend Email</button>
    </form>
</body>

</html>